@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

/* prevent dark mode */
@plugin "daisyui"{
  themes: ['light']; 
}
@theme {
  --color-pokered: #D92949;
  --color-pokedarkred: #8C1C31;
  --color-pokecream: #F2DFBB;
  --color-pokeyellow: #FED21F;
  --color-pokeblue: #72A9F2;

}

html{
  background-color: #fff9ed;
}


